@import '../../../node_modules/intl-tel-input/build/css/intlTelInput.css';

input {
  @apply outline-none border-none inline-block font-body font-semibold text-black leading-tight py-3 px-1;
  font-size: inherit;
  /* border-bottom: 1px solid theme('colors.gray.300'); */
}

.iti__selected-flag:focus,
.iti__flag-container:focus {
  outline: none;
}

.iti__flag {
  background-image: var(--flags);
  /* background-image: url("../../../../node_modules/intl-tel-input/build/img/flags@2x.png"); */
}

.iti {
  width: 100%;
}

.iti-mobile .iti--container {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  position: fixed 0 !important;
}

.iti--container {
  top: 0 !important;
  left: 0 !important;
}

.iti__country.iti__standard,
.iti__country.iti__preferred {
  font-family: theme('fontFamily.sans');
  font-weight: theme('fontWeight.semibold');
}
.iti__selected-dial-code {
  background-color: theme('colors.transparent');
  font-family: theme('fontFamily.sans');
  color: theme('colors.primary');
  font-weight: theme('fontWeight.semibold');
  @nest & .iti__selected-flag {
    background-color: theme('colors.transparent');
  }
}

.iti--separate-dial-code .iti__selected-flag,
.iti__selected-flag {
  background-color: theme('colors.transparent');
}

.iti-popper {
  width: 100%;
  padding: 0 theme('spacing.6');
}
