/* stylelint-disable-next-line selector-type-no-unknown */
:host {
  font-weight: theme('fontWeight.semibold');
  letter-spacing: 0;
  color: theme('colors.black');
}

:host(:--text-size-xs) {
  line-height: 1.25rem;
  @apply text-xs;
}

:host(:--text-size-s) {
  line-height: 1.25rem;
  @apply text-sm;
}

:host(:--text-size-m) {
  line-height: 1.5rem;
  @apply text-base;
}

:host(:--text-size-l) {
  line-height: 2.25rem;
  @apply text-2xl;
}

:host(:--text-size-xl) {
  @apply text-4xl;
}

:host(:--text-size-2xl) {
  line-height: 3.375rem;
  font-size: 2.875rem;
}

