@custom-selector :--text-size-xs [size="xs"];
@custom-selector :--text-size-s [size="sm"];
@custom-selector :--text-size-m [size="m"];
@custom-selector :--text-size-l [size="l"];
@custom-selector :--text-size-xl [size="xl"];
@custom-selector :--text-size-2xl [size="2xl"];
