:host {
  list-style: none;
  --color-selected: var(--pp-color-tab-bar-selected, currentColor);
  display: flex;
}

::slotted(.pp-tab) {
  flex: 0 0 auto;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: theme('spacing.8');
  &:first-child {
    padding-left: 0;
  }

}

::slotted(.pp-tab[active])::after {
  content: ' ';
  display: block;
  width: 100%;
  margin-top: theme('spacing.3');
  height: 3px;
  background-color: var(--color-selected);
}

:host([enable-menu]) {
  overflow: hidden;
}

:host([enable-menu]) ::slotted(.pp-tab[tab-overflow="true"]) {
  transform: scale(0);
}

/* :host ::slotted(.pp-tab.pp-active) {

} */

