:host {
  list-style: none;
  display: flex;
  align-items: baseline;
}

::slotted(.pp-tab) {
  flex: 0 0 auto;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: theme('spacing.8');
  max-width: 200px;
  &:first-child {
    padding-left: 0;
  }

  &::after {
    content: '';
    display: block;
    width: 102%;
    margin-top: theme('spacing.1');
    height: 3px;
    background-color: var(--color-secondary);
    visibility: hidden;
  }
}

::slotted(.pp-tab.pp-active) {
  &::after {
    visibility: visible;
  }
}
