/* stylelint-disable-next-line selector-type-no-unknown */
:host {
  width: auto;
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  outline: 0;
  @apply z-40;
}
:host([open]) {
  display: block;
  opacity: 1;
}



/* stylelint-disable-next-line selector-type-no-unknown */
::slotted(.pp-dialog) {
  display: block;
  position: relative;
  max-height: 100vh;
  @apply transition-all duration-75 ease-in;

}

/* stylelint-disable-next-line selector-type-no-unknown */
:host([fit][open]) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@screen xs {
  :host([open]) {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* stylelint-disable-next-line selector-type-no-unknown */
  ::slotted(.pp-dialog) {
    margin: theme('spacing.10') auto;
    max-width: var(--pp-modal-max-width, none);
    max-height: none;
    @apply shadow-none rounded-md;
  }

  ::slotted(.pp-modal-centered) {
    min-height: calc(100% - (theme('spacing.7') * 2));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}


@media screen and (width <= theme('screens.xs')) {
  /* stylelint-disable-next-line selector-type-no-unknown */
  :host([fit][open]) {
    justify-content: flex-end;
  }
}



