:host {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  display: inline-block;
  /* color: white; */
  @apply rounded px-2 py-1;
}

:host([color="primary"]) {
  @apply bg-primary;
}
:host([color="secondary"]) {
  @apply bg-secondary;
}
