:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

:host([position="bottom"]) {
  bottom: theme('spacing.10');
}
:host([position="top"]) {
  top: theme('spacing.10');
}
:host([position="left"]) {
  left: theme('spacing.10');
}
:host([position="right"]) {
  bottom: theme('spacing.10');
}
